{%extends 'base.html'%}
{% load static %}
{%block content %}

<section class="section__container price__container">
    <h2 class="section__header">OUR PRICING PLAN</h2>
    <p class="section__subheader">
      Our pricing plan comes with various membership tiers, each tailored to
      cater to different preferences and fitness aspirations.
    </p>
    <div class="price__grid">
      <div class="price__card">
        <div class="price__card__content">
          <h4>Daily Plan</h4>
          <h3>$16</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
        </div>
        <a href="{% url 'low' %}"><button class="btn price__btn">Join Now</button></a>

      </div>
      <div class="price__card">
        <div class="price__card__content">
          <h4>Weekly Plan</h4>
          <h3>$25</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
        </div>

        <a href="{% url 'medium' %}"><button class="btn price__btn">Join Now</button></a>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <h4>Monthly Plan</h4>
          <h3>$45</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            ELITE Gyms & Classes
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Personal Training
          </p>
        </div>
        <a href="{% url 'high' %}"><button class="btn price__btn">Join Now</button></a>

      </div>
    </div>
  </section>

<!-- Footer -->
 <div class="footer__bar">
    Copyright © 2023 Web Design Mastery. All rights reserved.
  </div>


  {%endblock%}